* {
    margin: 0;
    padding: 0;
    font-family: Roboto, Helvetica, sans-serif;
    box-sizing: border-box;
}

h2, h3, p {
    padding: 20px 0px;
}

.section {
    padding: 30px 200px;
}

.section-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    padding: 0px 0px 60px 0px;
}

                    /* HERO SECTION */

.hero-container {
    display: grid;
    grid-template-columns: 1fr 1.75fr 1.75fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    justify-items: center;
    align-items: center;
    height: 950px;
    width: 100%;
    background-color: #48328C;
    padding: 0px 20px;
}

.hero-heading {
    grid-area: 3 / 2 / 4 / 4;
    color: #FFFFFF;
    text-align: center;
    justify-self: center;
    align-self: center;
    font-size: 4rem;
}

.scroll-down-btn {
    grid-area: 4 / 2 / 4 / 4;
    justify-self: center;
    align-self: center;
    background-repeat: no-repeat;
    font-size: 4rem;
    color: #EE6633;
}

.logo {
    height: 80px;
    width: 80px;
    background-color: #EE6633;
    border-radius: 3px;
}

#hero-logo {
    justify-self: center;
    align-self: center;
}

.cta-btn {
    font-size: 1.5rem;
    padding: 15px 40px;
    background-color: #EE6633;
    color: #FFFFFF;
    border: none;
    border-radius: 3px;
    margin: 20px;
    cursor: pointer;
}

.hero-contact-btn {
    grid-area: 1 / 4 / 2 / 5;
}

#hero-icons {
    grid-area: 6 / 1 / span 1 / span 1;
    width: 100%;
}

.hero-nav-flex-wrapper {
    grid-area: 6 / 3 / span 1 / span 2;
    justify-self: stretch;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

                    /* SKILLS SECTION */

.skills-container {
    background-color: #F3F3F3;
    padding: 30px 100px;
}

.skills-title {    
}

.skills-flex-wrapper-outer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.skills-column-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-basis: 27%;
    text-align: center;
    background-color: #FFFFFF;
    padding: 40px 60px;
}

.skills-description {
    height: 150px;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
}

.skills-frontend-container {
}

.icon-frontend {
    height: 75px;
    width: 75px;
    background-color: #EE6633;
    text-align: center;
}

.frontend-heading {}


.skills-backend-container {
}

.icon-backend {
    height: 75px;
    width: 75px;
    background-color: #EE6633;
}

.backend-heading {
}

.skills-design-container {
}

.icon-design {
    height: 75px;
    width: 75px;
    background-color: #EE6633;
}

.design-heading {}

.skills-ul {
    list-style: none;
}

                        /* FOLIO SECTION */

.folio-container {
    /* max-width: 1200px; */
    background-color: #ECECEC;
}

.projects-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-items: center;
    grid-column-gap: 2rem;
    grid-row-gap: 50px;
}

.project-wrapper {
    background-image: url("https://via.placeholder.com/450/EE6633/");
    width: 400px;
    height: 250px;
}

                        /* ABOUT SECTION */

.about-container {
    background-color: #F3F3F3;
}

.about-grid-wrapper-outer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(1, 1fr);
    justify-items: center;
    justify-content: center;
    align-content: center;
    grid-column-gap: 3rem;
    

}
.about-image-wrapper {
    grid-area: 1 / 2 / 2 / 3;
    justify-self: end;
    align-self: center;
    width: auto;
    height: 100%;
}

.about-image {
    background-image: url("https://via.placeholder.com/550/EE6633/");
    width: 550px;
    height: 400px;
}

.about-text {
    padding: 0px;
    align-self: center;
    justify-self: center;
}


                        /* CONTACT SECTION */

.contact-container {
    background-color: #ECECEC;
}

.contact-container-inner {
    background-color: #F3F3F3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-heading {
    padding: 0px;
}

.icon-flex-wrapper {
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
}

.social-media-icon {
    font-size: 3rem;
    color: #EE6633;
}

.contact-form-flex-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 80%;
    max-width: 700px;
}

.contact-form-flex-wrapper > p {
    padding: 20px 0px 10px;
}

.contact-box {
    background-color: #ECECEC;
    height: 2rem;
    /* width: 600px; */
    flex-basis: 2rem;
    flex-grow: 1;
    flex-shrink: 1;
}

.user-message-box {
    flex-basis: 4.5rem;
}

                        /* FOOTER SECTION */

.footer-container {
    background-color: #48328C;
}

.footer-container > div {
    padding: 0px;
    font-size: 1rem;
    color: #FFFFFF;
}

                        /* MEDIA QUERIES */

@media (max-width: 768px) {
    .skills-flex-wrapper-outer {
        flex-direction: column;
        align-items: center;
    }

    .skills-column-container {
        padding: 30px 0px;
    }
}


